.line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin-top: 10px;

  margin-right: 20px;
}

.informations {
  display: grid;
  grid-template-columns: 1fr 1fr;

  position: absolute;
  border: solid;
  bottom: 0;

  justify-content: center;
}

.count {
  text-align: center;
  margin-top: 40px;
}
.name {
  text-align: center;
  font-size: 18px;
}
.pic {
  height: 180px;
  width: 180px;
}
.price {
  text-align: center;
  font-size: 18px;
}
